body {
  font-family: "Segoe UI", sans-serif;
  background-color: #f2f2f2;
  margin-top: 70px;
  padding: 0;
}

h1,
h2 {
  text-align: center;
  color: #333;
  padding: 20px;
}

#pokemon-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 30px;
  padding: 40px;
  max-width: 1400px;
  margin: 0 auto;
  justify-items: center;
}

.pokemon-card {
  border-radius: 16px;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.pokemon-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.lang-btn {
  background-color: transparent;
  border: 2px solid transparent;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.lang-btn:hover {
  background-color: transparent;
}

.lang-btn.selected {
  font-weight: bold;
  color: red;
}

.pokemon-image {
  width: 150px;
  height: 150px;
  object-fit: contain;
  margin: 0 auto 10px;
}

.pokemon-number {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 5px;
}

.pokemon-name {
  font-size: 1.4rem;
  font-weight: bold;
  color: #222;
  margin-bottom: 12px;
  text-transform: capitalize;
}

.pokemon-type {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.type-badge {
  background-color: #ddd;
  border-radius: 999px;
  padding: 6px 12px;
  font-size: 0.85rem;
  font-weight: 7;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal.hidden {
  display: none;
}

.modal-content {
  background-color: white;
  padding: 20px;
  width: 300px;
  max-width: 90%;
  border-radius: 10px;
  text-align: center;
  position: relative;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.modal-image {
  width: 150px;
  height: auto;
  margin-bottom: 10px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
  font-weight: bold;
  color: #444;
}
.close-button:hover {
  color: #000;
}

#modal-description {
  margin-top: 10px;
  font-style: italic;
  font-size: 0.95rem;
  color: #444;
}
