body {
  font-family: "Segoe UI", sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

h1, h2 {
  text-align: center;
  color: #333;
  padding: 20px;
}

#pokemon-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 30px;
  padding: 40px;
  max-width: 1400px;
  margin: 0 auto;
  justify-items: center;
}

.pokemon-card {
  background: #cfcfcf;
  border-radius: 16px;
  width: 240px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.pokemon-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.pokemon-image {
  width: 150px;
  height: 150px;
  object-fit: contain;
  margin: 0 auto 10px;
}

.pokemon-number {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 5px;
}

.pokemon-name {
  font-size: 1.4rem;
  font-weight: bold;
  color: #222;
  margin-bottom: 12px;
  text-transform: capitalize;
}

.pokemon-type {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.type-badge {
  background-color: #ddd;
  border-radius: 999px;
  padding: 6px 12px;
  font-size: 0.85rem;
  font-weight: 7
}